*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}
:root{
    --green1: #00ff88;
    --blue1: #28ace6;
    --green2: #00c77e;
    --blue2: #0182b9;
}
body{
    height: fit-content;
    background: linear-gradient(-160deg, var(--blue1) 40%, var(--green1));
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    z-index: 5;
    background-color: white;
    box-shadow: 0 3px 7px rgba(192, 192, 192, 0.7);
    width: 100%;
    height: 25vh;
    top: 0;
    /* position:sticky; */
    display: grid;
    grid-template-columns: 30vw auto;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
    padding: 0rem 3rem;
}
#logo{
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 400%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-style: italic;
    color: var(--blue1);
    filter: brightness(110%);
    text-shadow: 1px 3px 3px rgba(192, 192, 192);
}
#logo span{
    color: var(--green2);
    filter: brightness(110%);
}
#search{
    margin-top: 1.5rem;
    right: -10rem;
    position: relative;
    background-color: rgba(192, 192, 192, 0.3);
    width: 55%;
    height: 60%;
    padding: .6rem 1.3rem;
    border-radius: 3rem;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-bar{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    border: none;
    padding: 0 .5rem;
    transition: .8s;
    box-shadow: 1px 1px 4px rgba(142, 142, 142);
}
#search-bar:hover{
    transition: .8s;
    box-shadow: none;
}
#search-bar:focus{
    box-shadow: none;
}
#search-bar:focus{
    border: none;
    outline: none;
}
#search-img{
    position: absolute;
    right: 1.8rem;
    width: 1rem;
    filter:contrast(0);
}
nav ul{
    align-self: flex-end;
    width: 100%;
    height: 70%;
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul li{
    position: relative;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding-bottom: 1rem;
}
nav ul li a{
    transition:width .2s, padding-bottom .2s;
    text-decoration: none;
    color: black;
}
nav ul li a::before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: var(--green1);
    filter: brightness(110%);
    width: 0;
    height: 10%;
    transition:.2s;
}
nav ul li a:hover{
    transition: .2s;
    padding-bottom: .25rem;
}
nav ul li a:hover::before{
    width: 100%;
}

section#sobre-nos{
    /* background-color: var(--blue1); */
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section#sobre-nos #sobre-nos-img{
    height: 75vh;
}
#sobre-nos-img img{
    height: inherit;
}
#sobre-nos #container{
    position: absolute;
    right: 3rem;
    width: 65vh;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-shadow: 1px 1px 3px rgb(100, 100, 100);
}
#container h1{
    margin-top: 2.5rem;
    font-size: 280%;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
#container p{
    margin-bottom: 2rem;
    font-size: 120%;
    color: white;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
}
#container a{
    margin-bottom:2rem;
    background-color: white;
    padding: .7rem 2.1rem;
    border: .3rem solid white;
    border-radius: 5rem;
    font-size: 130%;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--green2);
    text-shadow: none;
    transition: .3s;
}
#container a:hover{
    transition: .3s;
    box-shadow: none;
    border: .3rem solid var(--green1);
    padding: .7rem 2.1rem;
    color: white;
    background-color: transparent;
}

#impacto{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
} 
#impacto > h1{ 
    height: 25%;
    width: 100%;
    background: white;
    font-size: 450%;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 4px;
    color: var(--green2);
    filter: brightness(110%);
    box-shadow: .2rem .2rem .6rem rgb(100, 100, 100);
    text-shadow: 2px 2px 5px rgba(192, 192, 192);
}
#cards-container{
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    gap: 5rem;
}
#cards-container .impacto-topicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#cards-container .impacto-topicos img{
    transition: .3s;
    filter: drop-shadow(0 0 .5rem transparent);
    height: 10rem;
    image-rendering:crisp-edges;
    transform: translateY(2rem);
}
#cards-container .impacto-topicos h1{
    padding: 1rem;
    border-radius: 5rem;
    transition: .3s;
    color: var(--green1);
    text-shadow: 3px 3px 5px rgb(114, 114, 114);
    letter-spacing: 2px;
    transform: translateY(2rem);
}
#cards-container .impacto-topicos p{
    color: rgb(41, 41, 41);
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: 2px;
    transform: translateY(5rem);
    opacity: 0;
    transition: .3s;
    text-align: center;
}
#cards-container .impacto-topicos:hover{
    cursor: pointer;
}
#cards-container .impacto-topicos:hover img, #cards-container .impacto-topicos:hover h1,#cards-container .impacto-topicos:hover p{
    transform: translateY(0);
    transition: .3s;
}
#cards-container .impacto-topicos:hover img{
    filter: drop-shadow(.4rem .4rem .2rem rgb(114, 114, 114));
}
#cards-container .impacto-topicos:hover p{
    opacity: 1;
}

#depoimento{
    height: 100vh;
    width: 100%;
    padding: 0 6rem;
    display: flex;
    align-items: center;
}
#depoimento #carroussel{
    position: relative;
    height: 80%;
    width: inherit;
    display: flex;
    overflow: hidden;
}
#depoimento button{
    background-color: transparent;
    position: absolute;
    height: 100%;
    width: 5vw;
    outline: none;
    border: none;
    font-size: 500%;
    color: transparent;
    transition: all .2s, color .3s;
}
#depoimento button:nth-last-child(1){
    right: 0;
}
#depoimento button:hover{
    color: var(--blue1);
    height: 100%;
    cursor: pointer;
    transition: all .2s, color .3s;
    background: rgba(192, 192, 192, 0.1);
    box-shadow: .5rem 0 .5rem rgba(192, 192, 192, 0.1);
}
#depoimento button:nth-of-type(1):hover{
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}
#depoimento button:nth-of-type(2):hover{
    box-shadow: -.5rem 0 .6rem rgba(192, 192, 192, 0.1);
    border: 0;
    border-bottom-right-radius: 5rem;
}
#depoimento #carroussel .depoimento-child{
    flex: none;
    width: 100%;
    background: white;
    padding: 2rem 6rem;
    display: flex;
    gap: 7rem;
    align-items: center;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.depoimento-child:nth-of-type(1),.depoimento-child:nth-of-type(3){
    border-radius: 5rem;
    border-top-right-radius: 0;
}
.depoimento-child:nth-of-type(2){
    border-radius: 5rem;
    border-bottom-left-radius: 0;
}
#carroussel .depoimento-child img{
    height: 80%;
}
#carroussel .depoimento-child:nth-of-type(1) img{
    height: 90%;
    margin-bottom: 2rem;
}
#carroussel .depoimento-child:nth-of-type(2) img{ 
    height: 95%;
    margin-bottom: 4rem;
}
.text h1{
    font-size: 400%;
    margin-bottom: 2rem;
    color: var(--blue2);
    text-shadow: 2px 2px 5px rgba(192, 192, 192, 0.7);
}
.text p{
    font-size: 130%;
    text-align: justify;
}

#inscricao{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#inscricao form{
    height: fit-content;
    width: 35%;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    background: white;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
}
#inscricao form h1,#inscricao form p{
    text-align: center;
}
#inscricao form h1{
    font-size: 230%;
    letter-spacing: 2px;
    color: var(--blue2);
    text-shadow: 2px 2px 5px rgba(192, 192, 192, 0.3);
}
#inscricao form p{
    margin-bottom: 1rem;
}
#inscricao .input-box{
    position: relative;
    height: 5vh;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
#inscricao .input-box input{
    transition: .3s;
    width: 100%;
    height: 100%;
    border: .2rem solid transparent;
    outline: none;
    background-color: rgba(192, 192, 192, 0.3);
    padding: 1rem;
    font-size: 100%;
}
#inscricao .input-box label{
    visibility: hidden;
    position: absolute;
    left: 1rem;
}
#inscricao .input-box input::placeholder{
    color: black;
    position: absolute;
    left: .8rem;
    bottom: .5rem;
}
#inscricao .input-box input:focus::placeholder{
    opacity: 0;
}
#inscricao .input-box input:focus + label{
    visibility: visible;
    transition: .3s;
    font-size: 80%;
    color: var(--blue2);
    top: -1rem;
    left: 0;
}
#inscricao .input-box input:focus{
    border-bottom:.2rem solid var(--blue2);
    background-color: rgba(192, 192, 192, 0.1);
}
#inscricao form button{
    align-self: center;
    width: fit-content;
    background-color: var(--blue2);
    padding: .5rem 2rem;
    border: .2rem solid var(--blue2);
    border-radius: 5rem;
    font-size: 130%;
    letter-spacing: 1px;
    text-decoration: none;
    color:white;
    text-shadow: none;
    transition: .3s;
}
#inscricao form button:hover{
    cursor: pointer;
    background-color: transparent;
    border-color: var(--blue1);
    color: var(--blue1);
}

footer{
    height: 30vh;
}